# ============================================================
# Variables GitHub : DOKPLOY_DB_PASSWORD
# ============================================================

DOKPLOY_DB_PASSWORD=    # secret