# ============================================================
# UMAMI - Analytics
# Secrets GitHub : UMAMI_DB_PASSWORD, UMAMI_APP_SECRET
# ============================================================

UMAMI_DB_PASSWORD=          # mot de passe base de données Umami
UMAMI_APP_SECRET=           # clé secrète app (openssl rand -hex 32)
