# ============================================================
# MONGODB - Variables d'environnement
# Secrets GitHub : MONGO_ROOT_PASSWORD
# Variables GitHub : MONGO_ROOT_USERNAME
# ============================================================

MONGO_ROOT_USERNAME=      # variable
MONGO_ROOT_PASSWORD=      # secret
