# ============================================================
# MARIADB - Variables d'environnement
# Secrets GitHub : MARIADB_ROOT_PASSWORD, MARIADB_PASSWORD
# Variables GitHub : MARIADB_USER
# ============================================================

MARIADB_ROOT_PASSWORD=    # secret
MARIADB_USER=             # variable
MARIADB_PASSWORD=         # secret
