# ============================================================
# REDIS - Variables d'environnement
# Secrets GitHub : REDIS_PASSWORD
# ============================================================

REDIS_PASSWORD=    # secret
